<!DOCTYPE html>
<html>
    <head>
        <title>Einkaufsliste</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <!-- logo-->
        <div>
            <img src="images/groceries.jpg", alt="groceries.jpg">
        </div>
    </body>
    <body>
        <!-- REMOVE ITEMS FORM-->
        <div id="remove_items">
            <form action="/remove_items" method="POST">
                {% for item in shopping_items %}
                <input type="checkbox", name="my_input", id="{{item}}", value="{{item}}">
                <label for="{{items}}", name="{{item}}">{{item}}</label><br>
                {% endfor %}
                <input type="submit", value="REMOVE ITEMS">
            </form>
        
        </div>

        <div id="all_items">
            <form action="/add_items" method="POST">
                <select name="my_selection">
                {% for item in all_items %}
                <option value="{{ item }}">{{ item }} </option>
                {% endfor %}
                <input type="submit" value="ADD ITEM">
                </select>
            </form>
        </div>
        <p>{{ item }} </p>
    </body>
</html>
        